.about {
    height: 100%;
    padding: 10px;
}

.context {
    background-color: #E8E1D4;
    color: #06402B;
    margin: auto;
    border-radius: 10px;
    font-family: 'Soulside Betrayed', serif;
    font-weight: bold;
    padding: 10px;
     margin-top: 15px;
     font-size: x-large;
}
.context h2{
    text-align: center;
}

.context h3{
    text-align: center;
}

.context h4{
    text-align: center;
}

.context p {
    text-indent: 35px;

}

.context span ul {
    text-indent: 0px;
    text-align: left;
    list-style-type: lower-roman;
}